{% extends "layout.html" %}

{% block content %}

<div class="hero">

<h1>Emergency Blood Donation Platform</h1>

<p>

Connecting donors with people in urgent need of blood.

Save life today.

</p>

<a href="/search" class="btn btn-light btn-lg">Find Blood</a>

<a href="/register" class="btn btn-dark btn-lg">Donate Blood</a>

</div>

<br>

<div class="row">

<div class="col-md-6">

<img class="img-fluid" src="https://images.unsplash.com/photo-1615461066841-6116e61058f4">

</div>

<div class="col-md-6">

<h3>Why Donate Blood?</h3>

<p>

Every 2 seconds someone needs blood.

Your donation can save up to 3 lives.

</p>

<ul>

<li>Helps accident victims</li>
<li>Supports surgeries</li>
<li>Helps cancer patients</li>

</ul>

</div>

</div>

{% endblock %}